@tailwind base;
@tailwind components;
@tailwind utilities;
/* default: white icons */
.icon-color {
  filter: brightness(0) invert(1);
  transition: filter 0.2s ease-in-out;
}

/* red icon on hover */
.nav-item:hover .icon-color {
  filter: brightness(0) saturate(100%) invert(18%) sepia(98%) saturate(7442%)
    hue-rotate(356deg) brightness(103%) contrast(114%);
}

/* red icon on active link */
.nav-item-active .icon-color {
  filter: brightness(0) saturate(100%) invert(18%) sepia(98%) saturate(7442%)
    hue-rotate(356deg) brightness(103%) contrast(114%);
}

@layer base {
  body {
    font-family: 'Instrument Sans', sans-serif;
  }
}

